.sound-btn {
  border: none;
  outline: none;
  position: absolute;
  z-index: 4;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  left: 2;
  cursor: pointer;
  margin: 13px;
  font-size: 18px;
  border-radius: 10px;
  background-color: rgb(33, 33, 33);
  color: rgb(200, 197, 197);
  border: 1px solid rgba(73, 72, 72, 0.937);
  margin: 13px;
}
