button {
    border: none;
    outline: none;
    background-color: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #b0b0b0 #ffffff;
    touch-action: none;
}

*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background: rgb(236, 236, 236);
}

*::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

#mousepointer {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 100%;
    transition: 0.03s;
    left: -50px;
    z-index: 1000002;

    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    overflow: hidden;
}

#mousepointer div {
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 100%;
}